<%function formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",")
{ try { decimalCount = Math.abs(decimalCount); decimalCount =
isNaN(decimalCount) ? 2 : decimalCount; const negativeSign = amount < 0 ? "-" :
""; let i = parseInt( (amount = Math.abs(Number(amount) ||
0).toFixed(decimalCount)) ).toString(); let j = i.length > 3 ? i.length % 3 : 0;
return ( negativeSign + (j ? i.substr(0, j) + thousands : "") +
i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ?
decimal + Math.abs(amount - i) .toFixed(decimalCount) .slice(2) : "") ); } catch
(e) { console.log(e); } }%>
<!DOCTYPE html>
<html style="font-size: 14px;">
  <head>
    <title>Shop Whey Đà Nẵng | Dinh Dưỡng Thể Thao</title>
    <% include ../partials/head %>
  </head>

  <body class="text-white bg-dark" style="background-color: #343a40;">
    <% include ../partials/header %>

    <main>
      <div class="container">
        <% if (data.allProducts.length) { const p = data.allProducts[0]%>
        <div class="row">
          <div class="col-md-9">
            <div class="row p-0 m-0">
              <div class="col-7 col-sm-7">
                <button
                  class="btn btn-outline-light btn-sm mt-4"
                  id="go-back"
                  type="button"
                >
                  Trở về</button
                ><img
                  class="w-100 p-4"
                  src="https://ad.loaloa.me/<%=p.images[0].file.publicUrl%>"
                />
                <hr />
                <div class="row">
                  <% for (let i = 1; i < p.images.length;i++) { const url =
                  p.images[i].file.publicUrl%>
                  <div
                    class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3"
                    data-bs-hover-animate="bounce"
                  >
                    <img class="w-100" src="https://ad.loaloa.me/<%=url%>" />
                  </div>
                  <%}%>
                </div>
                <hr />
              </div>
              <div class="col-5 col-sm-5">
                <div class="p-4">
                  <h6 class="text-myColor"><%=p.name%></h6>
                  <hr />
                  <h6><%=formatMoney(p.price,0)%></h6>
                  <hr />
                  <h6 class="text-myColor">MÙI</h6>
                  <%p.attributes.forEach(a=>{%>
                  <p class="text-secondary"><%=a.name%></p>
                  <%})%>
                  <h6 class="text-uppercase text-myColor">thương hiệu</h6>
                  <%if (p.brand) {%>
                  <p class="text-secondary"><%=p.brand.name%></p>
                  <%}%>
                  <h6 class="text-uppercase text-myColor">chức năng</h6>
                  <%if (p.category ){%>
                  <p class="text-secondary"><%=p.category.name%></p>
                  <%}%>
                </div>
              </div>
              <div class="col-12">
                <h6 class="text-uppercase text-myColor">Mô tả</h6>
                <p><%=p.description%></p>
                <h6 class="text-uppercase text-myColor">Chi tiết</h6>
                <% if(p.file) { %>
                <img
                  style="max-width: 100%;"
                  src="https://ad.loaloa.me<%=p.file.publicUrl%>"
                />
                <% } %>
                <h6 class="text-uppercase text-myColor">Hướng dẫn sử dụng</h6>
                <p><%=p.guide%></p>
              </div>
            </div>
          </div>
        </div>
        <%} else {%>
        <h1>Không tìm thấy sản phẩm</h1>
        <a class="text-white" href="/">Đi đến trang chủ?</a>
        <%}%>
      </div>
    </main>

    <% include ../partials/footer%>
  </body>
</html>
